<% if page.text.present? %>
  <% text = strip_tags(textilizable(page.text, :project => page.project)) %>
  <% meta_description(text.gsub(/^(.{255}[^\n\r]*).*$/m, '\1...').strip) %>
  <% meta_keywords(extract_keywords(text)) %>
<% end %>
